@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Swomun Serif;
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/swomun/swomun-serif.ttf') format('truetype');
    }

    @font-face {
        font-family: "Alliance and Data";
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/alliance-and-data/Alliance-Data.otf') format('opentype');
    }

    @font-face {
        font-family: Nexa;
        font-style: normal;
        font-weight: 200;
        src: url('/fonts/nexa/Nexa-Thin.woff2') format('woff');
    }

    @font-face {
        font-family: Nexa;
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/nexa/Nexa-Book.woff2') format('woff');
    }

    @font-face {
        font-family: Nexa;
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/nexa/Nexa-Bold.woff2') format('woff');
    }

    /*@font-face {*/
    /*    font-family: Nexa;*/
    /*    font-style: normal;*/
    /*    font-weight: 700;*/
    /*    src: url('/fonts/nexa/Nexa-Trial-ExtraBold.otf') format('opentype');*/
    /*}*/

    @font-face {
        font-family: Nexa;
        font-style: normal;
        font-weight: 800;
        src: url('/fonts/nexa/Nexa-Black.woff2') format('woff2');
    }

    @font-face {
        font-family: "Andale Mono";
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/andale-mono/Andale-Mono.ttf') format('truetype');
    }
}

@layer components {
    .jumbotron {
        @apply font-serif mb-8 text-6xl bg-gradient-to-r from-hero-blue to-hero-green inline-block text-transparent;
        @apply bg-clip-text transition-all duration-500 ease-in-out;
        @apply md:text-7xl xl:text-8xl;
    }
}


